body{
    margin:0px;
    background-color: rgb(37, 37, 37);
}
div{
    color: white;
}
#obenbar{
    position:absolute;
    top:0px;
    right:0px;
    height: 40px;
    width: 45px;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Loginbutton{
    border-color: rgb(70, 70, 70);
    background-color: rgb(10, 10, 10);
    width: 120px;
    height: 35px;
    border-radius: 35px;
    margin-left: calc(100vw - 125px);
    margin-top: 5px;
    color: cornflowerblue;
}
.Loginbutton:hover{
    background-color: rgb(42, 107, 227);
    border-color: rgb(42, 107, 227);
}
.icon-color{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
    font-size:30px;
}
.red{
    background-color: red;
}
.Account{
    display: flex;
    justify-content: center;
    align-items: center;
}
#account-menu{
    position: absolute;
    display: none;
    top:50px;
    right:0px;
    background-color: grey;
    height: 140px;
    width: 70px;
}
div.content{
            height:98vh;
            width:99vw;
        }
        div.inputsearch{
            height:90px;
            width:100vw;
            display:flex;
            justify-content: center;
        }
        div.inputsearch>input{
            height:50px;
            width:calc(100vw - 200px);
            outline: none;
  background-color: black;
  color: white;
  border: 1px gray solid;
  border-radius: 10px;
        }
        .resultbox{
        height:200px;
        width:100vw;
    }
    .result_title{
        text-decoration: none;
    }
    .result_title>h1{
        margin: 0px;
        color: blue;
        text-decoration: none;
    }
    .result_title>h1:hover{
        text-decoration: underline;
    }
    .top_title>div{
        color: black;
    }
