body{
    margin:0px;
    background-color: rgb(37, 37, 37);
}
#host{
    color:lightblue;
    margin-left:3px;
}
#Savebox{
    display: none;
}
div{
    color: white;
}
#loginshown{
    display:none;
}
#signinshown{
    display:none;
}
.main{
    height: 100vh;
    width: 100vw;
}
#obenbar{
    height: 50px;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Loginbutton{
    border-color: rgb(70, 70, 70);
    background-color: rgb(10, 10, 10);
    width: 120px;
    height: 35px;
    border-radius: 35px;
    margin-left: calc(100vw - 125px);
    margin-top: 5px;
    color: cornflowerblue;
}
.Loginbutton:hover{
    background-color: rgb(42, 107, 227);
    border-color: rgb(42, 107, 227);
}
.untencontent{
    color: white;
    height: calc(100vh - 51px - 150px);
    display: flex;
    justify-content: center;
    padding-top: 150px;
}
#logincontent{
    color: white;
}
.logininterface{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Username-input-Lx6aW7{
    background-color: rgba(255, 255, 255, 1);
}
#Password-input-Ph25fN{
    margin-top: 16px;
    background-color: rgba(255, 255, 255, 1);
}
#E-Mail-input-Jc7fv1{
    margin-top: 16px;
    background-color: rgba(255, 255, 255, 1);
}
#pinboard{
    height: 500px;
    width: 500px;
    border: 3px black solid;
    border-radius: 10px;
    background-color: chocolate;
}
.post.it{
    position: absolute;
    height: 100px;
    width: 100px;
    background-color: rgb(255, 218, 9);
    border-radius: 3px;
    box-shadow: 3px 3px 5px black;
}
.post.it:hover{
    cursor: all-scroll;
}
.icon-color{
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 5px;
    font-size:30px;
}
.red{
    background-color: red;
}
.Account{
    margin-left: calc(100vw - 46px);
    display: flex;
    justify-content: center;
    align-items: center;
}
#fileUp{
    position: absolute;
    display: none;
    top: calc(50% - 150px);
    left: calc(50% - 150px);
    height: 300px;
    width: 300px;
    background-color: grey;
}
#account-menu{
    position: absolute;
    display: none;
    top:50px;
    right:0px;
    background-color: grey;
    height: 140px;
    width: 70px;
}
